@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.App {
  min-height: 100vh;
  width: 100%;
}

.background-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 125px;
}

.bg-pic {
  margin-top: 50px;
  width: 66%;
  height: 700px;
  object-fit: cover;
  object-position: 100% 15%;
}

.shop-button-container {
  position: absolute;
  bottom: 200px;
}

.shop-button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,color,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px 48px;
    color: #fff;
    background-color: #8466B5;
    height: 48px;
    margin-bottom: 15px;
}

.footer-placement {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

@media only screen and (max-width: 600px) {
  .bg-pic {
    width: 95%;
    object-position: 80% 50%;
  }
}